:host {
  #terminal-view {
    position: absolute;
    z-index: 10;

    .theme {
      &-dark {
        background-color: #000;
        color: #ccc;
      }

      &-light {
        background-color: #eee;
        color: black;
      }
    }

    .header {

      &-dark {
        background-color: #333;
        color: white;
      }

      &-light {
        background-color: #aaa;
        color: black;
      }

      .terminal-control-container {
        gap: 0.5rem;

        .mdc-icon-button {
          width: fit-content;
          padding: 0;
          height: 100%;
        }

        .mat-mdc-button-touch-target {
          width: 100%;
          height: 100%;
        }

        .mat-icon {
          font-size: 1rem;
          height: 100%;
          width: 100%;
        }

        .terminal-control {
          gap: 0.5rem;
        }
      }

      .active-border {
        border-bottom: 1px solid white;
      }

      .run-disable {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.5;
      }

      .separate-window::before {
        transform: rotate(180deg);
        vertical-align: 0;
      }

      .layout-bottom::before {
        transform: rotate(-90deg);
      }
    }

    .terminal-content {
      // font-size: 0.875rem;
      font-family: monospace;

      input {
        outline: none;
        border: none;
        background-color: unset;
      }

      .auto-input {
        display: inline-block;
        white-space: pre;
        outline: none;
      }
    }

    .terminal-output {
      white-space: pre-wrap;
    }

    .resize-handler {
      opacity: 0;

      &:hover {
        background-color: #13A10E;
        opacity: 1;
      }

      &-bottom {
        height: 3px;
        top: 0;
        cursor: n-resize;
      }

      &-left {
        width: 3px;
        right: 0;
        cursor: e-resize;
      }

      &-right {
        width: 3px;
        left: 0;
        cursor: w-resize;
      }

      &-window {
        font-size: 0.8rem;
        width: 0.8rem;
        height: 0.8rem;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: se-resize;

        span {
          font-size: inherit;
        }
      }

      &-icon {
        font-size: 0.8rem;

        &::before {
          vertical-align: 0.125rem;
        }
      }
    }
  }
}

::ng-deep .mat-mdc-menu-panel {
  min-width: unset !important; /* Removes the 112px default */
}