:host {
  #terminal-view {
    position: absolute;
    z-index: 10;
    
    .theme {
      &-dark {
        background-color: #000;
        color: #ccc;
      }
  
      &-light {
        background-color: #eee;
        color: black;
      }
    }

    .header {

      &-dark {
        background-color: #333;
        color: white;
      }

      &-light {
        background-color: #aaa;
        color: black;
      }

      .terminal-control {
        gap: 0.5rem;
      }

      .active-border {
        border-bottom: 1px solid white;
      }

      .separate-window::before {
        transform: rotate(180deg);
        vertical-align: 0;
      }

      .layout-bottom::before {
        transform: rotate(-90deg);
      }
    }

    // .content {

    // }

    .resize-handle {
      width: 0.8rem;
      height: 0.8rem;
      position: absolute;
      bottom: 0;
      right: 0;
      cursor: se-resize;

      &-icon {
        font-size: 0.8rem;

        &::before {
          vertical-align: 0.125rem;
        }
      }
    }
  }
}