<div 
  id="terminal-view" 
  (mousedown)="dragStartHandler($event)"
  (touchstart)="dragStartHandler($event)"
  [ngStyle]="{
    'top': position.top + 'px', 
    'left': position.left + 'px', 
    'width': size.width + 'px', 
    'height': size.height + 'px'
  }"
>

  <!-- Header Section (optional) -->
  <div class="header">
    Terminal
  </div>

  <!-- Terminal Content -->
  <div class="content">
    <p>Terminal Content Here...</p>
  </div>

  <!-- Resizing Handle -->
  <div 
    class="resize-handle d-flex" 
    (mousedown)="resizeStartHandler($event)"
    (touchstart)="resizeStartHandler($event)"
  >
    <i class="bi bi-bounding-box resize-handle-icon"></i>
  </div>
</div>