<div 
  id="terminal-view" 
  (mousedown)="dragStartHandler($event)"
  (touchstart)="dragStartHandler($event)"
  [ngStyle]="{
    'top': position.top + 'px', 
    'left': position.left + 'px', 
    'width': size.width + 'px', 
    'height': size.height + 'px'
  }"
>

  <!-- Header Section (optional) -->
  <div class="header d-flex justify-content-between p-2">
    <div>Terminal</div>
    <div class="terminal-control d-flex">
      <i class="bi bi-layout-sidebar"></i>
      <i class="bi bi-layout-sidebar-reverse"></i>
      <i class="bi bi-layout-sidebar"></i>
      <i class="bi bi-box-arrow-down-left separate-window"></i>
    </div>
  </div>

  <!-- Terminal Content -->
  <div class="content">
    <p>Terminal Content Here...</p>
  </div>

  <!-- Resizing Handle -->
  <div 
    class="resize-handle d-flex" 
    (mousedown)="resizeStartHandler($event)"
    (touchstart)="resizeStartHandler($event)"
  >
    <i class="bi bi-bounding-box resize-handle-icon"></i>
  </div>
</div>