:host {
  #terminal-view {
    position: absolute;
    z-index: 10;
    border: 2px solid #333;
    background-color: #000;
    color: white;
    // cursor: move;

    .header {
      background-color: #333;
      // cursor: move;

      .terminal-control {
        gap: 0.5rem;
      }

      .separate-window::before {
        transform: rotate(180deg);
        vertical-align: 0;
      }
    }

    .content {
      padding: 20px;
    }

    .resize-handle {
      width: 0.8rem;
      height: 0.8rem;
      position: absolute;
      bottom: 0;
      right: 0;
      // cursor: se-resize;

      &-icon {
        font-size: 0.8rem;

        &::before {
          vertical-align: 0.125rem;
        }
      }
    }
  }
}