:host {
  .navbar-brand {
    font-family: monospace;
  }

  .btn-theme {
    border-radius: 100%;
    transform: scale(0.8);

    &-light {
      background-color: white !important;
      color: #343a40 !important;
    }

    &-dark {
      color: white !important;
      background-color: #343a40 !important;
    }
  }

  .btn-nav {
    font-family: monospace;
    font-size: 0.85rem;
    text-decoration: none;
    color: inherit;

    &.active {
      text-decoration: underline;
    }

    &-light {
      color: #343a40 !important;
    }

    &-dark {
      color: white !important;
    }
  }

  .language-dropdown {
    
    #dropdownSearch {
      width: 90%;
    }

    &-body {
      max-height: 40vh;
    }

    .dropdown-item.active,
    .dropdown-item:active {
      background-color: #343a40 !important;
      color: white !important;

    }
  }

  #bToast {
    z-index: 1000;
    top: 10vh;
  }
}