:host {
  .navbar-brand {
    font-family: monospace;
  }

  .btn-theme {
    border-radius: 100%;
    transform: scale(0.8);

    &-light {
      background-color: white !important;
      color: #343a40 !important;
    }

    &-dark {
      color: white !important;
      background-color: #343a40 !important;
    }
  }

  .language-dropdown {
    
    #dropdownSearch {
      width: 90%;
    }

    &-body {
      max-height: 40vh;
    }

    .dropdown-item.active,
    .dropdown-item:active {
      background-color: #343a40 !important;
      color: white !important;

    }
  }
}