/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "material-icons/iconfont/material-icons.css";

.no-padding-popover .popover-body {
    padding: 0 !important;
}

.btn-theme {
    &-light {
        background-color: white !important;
        color: #343a40 !important;
    }

    &-dark {
        color: white !important;
        background-color: #343a40 !important;
    }

    &-borderless {
        border: none;

        &:active {
            transform: scale(0.75);
        }
    }

    .icon-super {
        vertical-align: super;
        font-size: 0.5rem;
    }

    &-circle {
        border-radius: 100%;
        transform: scale(0.8);
    }

    &-secondary {
        &-light {
            color: white !important;
            background-color: #343a40 !important;
            border: 1px solid white;
        }

        &-dark {
            color: #343a40 !important;
            background-color: white !important;
            border: 1px solid #343a40;
        }
    }
}

/* Utility classes */
.cursor-pointer {
    cursor: pointer;
}

.outline-none {
    outline: none;
}

@media only screen and (width > 576px) {
    .w-sm {
        &-25 {
            width: 25% !important;
        }
        &-50 {
            width: 50% !important;
        }
        &-75 {
            width: 75% !important;
        }
        &-100 {
            width: 100% !important;
        }
    }
    .w-md {
        &-25 {
            width: 25% !important;
        }
        &-50 {
            width: 50% !important;
        }
        &-75 {
            width: 75% !important;
        }
        &-100 {
            width: 100% !important;
        }
    }
}